@using Training_log.ViewModels
@model List<LiftsVM>

<h2>Squats In Pounds</h2>

<p class="d-inline-block">
    <input type="button" class="btn btn-success" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
    <input type="button" class="btn btn-info" value="Kilos" onclick="location.href='@Url.Action("Index", "Squats")'" />
</p>

<table class="table table-primary">

    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Weight</th>
            <th scope="col">Repititions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var squat in Model)
        {
            using (Html.BeginForm("Index", "Weights", FormMethod.Post))
            {

                <tr>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => squat.Date)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => squat.WeightLifted)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => squat.Reps)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>